@model LifeVenture.Web.ViewModels.Events.CreateEventViewModel

@{
    this.ViewData["Title"] = "Дейности";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
    var phoneCodes = this.Model.Phone.Codes.Select(x => new SelectListItem(x.Value, x.Key));
    var regions = this.Model.Regions.Select(x => new SelectListItem(x.Value, x.Key));
    var municipalities = this.Model.Municipalities.Select(x => new SelectListItem(x.Value, x.Key));
    var settlements = this.Model.Settlements.Select(x => new SelectListItem(x.Value, x.Key));
}

<head>
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/event.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datepicker.css" rel="stylesheet" asp-append-version="true" />
</head>


<div class="text-center form-container row justify-content-center">
    <div>
        <h1>Нов евент</h1>
    </div>
    <form id="events-form" class="col col-md-6" method="post" asp-controller="Events" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col new-event-element">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="categories"></select>
            </div>
            
            <div class="col new-event-element">
                <label class="row row-col-12 justify-content-center" asp-for="IsUrgent"></label>
                <input asp-for="IsUrgent" class="form-control-file" />
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <div class="input-daterange">
                    <label asp-for="StartDate"></label>
                    <input type="datetime" name="StartDate" class="form-control" placeholder="Ден-Месец-Година" />
                </div>
            </div>
            <div class="col new-event-element">
                <div class="input-daterange form-group">
                    <label asp-for="EndDate"></label>
                    <input type="datetime" name="EndDate" class="form-control" placeholder="Ден-Месец-Година" />
                </div>
            </div>
        </div>

        <div id="place-0">
            <div class="row">
                <div class="col new-event-element">
                    <label asp-for="Locations[0].RegionId"></label>
                    <select asp-for="Locations[0].RegionId" id="region-0" class="form-control" asp-items="regions"></select>
                </div>
                <div class="col new-event-element">
                    <label asp-for="Locations[0].MunicipalityId"></label>
                    <select asp-for="Locations[0].MunicipalityId" id="municipality-0" class="form-control" asp-items="municipalities" disabled></select>
                </div>
                <div class="col new-event-element">
                    <label asp-for="Locations[0].SettlementId"></label>
                    <select asp-for="Locations[0].SettlementId" id="settlement-0" class="form-control" asp-items="settlements" disabled></select>
                </div>
            </div>
            <div class="row">
                <div class="col new-event-element">
                    <label asp-for="Locations[0].AddressNote"></label>
                    <textarea asp-for="Locations[0].AddressNote" id="address-note-0" class="form-control new-event-element" rows="4"></textarea>
                    <input type="submit" id="location-btn-0" value="Добави локация" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="col new-event-element">
                <label asp-for="Phone.CodeId"></label>
                <select asp-for="Phone.CodeId" class="form-control" asp-items="phoneCodes"></select>
            </div>
            <div class="col new-event-element">
                <label asp-for="Phone.Number"></label>
                <input asp-for="Phone.Number" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control-file" id="exampleInputFile" />
            </div>

        </div>

        <div class="new-event-element">
            <div class="text-center">
                <input type="submit" id="submit-btn" class="btn btn-primary" value="Създай евент" />
            </div>
        </div>
    </form>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    @* <script src="~/js/create-event.js" asp-append-version="true"></script> *@
    <script src="~/js/load-new-event.js" asp-append-version="true"></script>
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function () {

            $j('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                disableTouchKeyboard: true
            });
        });
    </script>
}