@model LifeVenture.Web.ViewModels.Events.CreateEventViewModel

@{
    this.ViewData["Title"] = "Създай ново събитие";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
    var phoneCodes = this.Model.Phone.Codes.Select(x => new SelectListItem(x.Value, x.Key));
    var regions = this.Model.Regions.Select(x => new SelectListItem(x.Value, x.Key));
    var municipalities = this.Model.Municipalities.Select(x => new SelectListItem(x.Value, x.Key));
    var settlements = this.Model.Settlements.Select(x => new SelectListItem(x.Value, x.Key));
}

<head>
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/event.css" rel="stylesheet" asp-append-version="true" />S
</head>

<div class="text-center form-container row justify-content-center">
    <div>
        <h1>Новo събитие</h1>
    </div>
    <form id="events-form" class="col col-md-6" method="post" asp-controller="Events" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col new-event-element">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="col new-event-element">
                <label asp-for="MaxParticipantsCount"></label>
                <input asp-for="MaxParticipantsCount" class="form-control" />
                <span asp-validation-for="MaxParticipantsCount" class="text-danger"></span>
            </div>

            <div class="col new-event-element">
                <label asp-for="IsUrgent" class="row row-col-12 justify-content-center"></label>
                <input asp-for="IsUrgent" class="form-control-file" />
                <span asp-validation-for="IsUrgent" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <div class="input-daterange">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col new-event-element">
                <div class="input-daterange form-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div id="place-0">
            <div class="row">
                <div class="col new-event-element">
                    <label asp-for="Locations[0].RegionId"></label>
                    <select asp-for="Locations[0].RegionId" id="region-0" class="form-control" asp-items="regions"></select>
                    <span asp-validation-for="Locations[0].RegionId" class="text-danger"></span>
                </div>
                <div class="col new-event-element">
                    <label asp-for="Locations[0].MunicipalityId"></label>
                    <select asp-for="Locations[0].MunicipalityId" id="municipality-0" class="form-control" asp-items="municipalities" disabled></select>
                    <span asp-validation-for="Locations[0].MunicipalityId" class="text-danger"></span>
                </div>
                <div class="col new-event-element">
                    <label asp-for="Locations[0].SettlementId"></label>
                    <select asp-for="Locations[0].SettlementId" id="settlement-0" class="form-control" asp-items="settlements" disabled></select>
                    <span asp-validation-for="Locations[0].SettlementId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col new-event-element">
                    <label asp-for="Locations[0].AddressNote"></label>
                    <textarea asp-for="Locations[0].AddressNote" id="address-note-0" class="form-control new-event-element" rows="4"></textarea>
                    <span asp-validation-for="Locations[0].AddressNote" class="text-danger"></span>
                    @* <input type="submit" id="location-btn-0" value="Добави адрес" /> *@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col new-event-element">
                <label asp-for="Phone.CodeId"></label>
                <select asp-for="Phone.CodeId" class="form-control" asp-items="phoneCodes"></select>
                <span asp-validation-for="Phone.CodeId" class="text-danger"></span>
            </div>
            <div class="col new-event-element">
                <label asp-for="Phone.Number"></label>
                <input asp-for="Phone.Number" class="form-control" />
                <span asp-validation-for="Phone.Number" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col new-event-element">
                <label>Снимка</label>
                <input asp-for="Image" class="form-control-file" id="exampleInputFile" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

        </div>

        <div class="new-event-element">
            <div class="text-center">
                <input type="submit" id="submit-btn" class="btn btn-secondary" value="Създай събитие" />
            </div>
        </div>
    </form>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script src="~/js/load-new-event.js" asp-append-version="true"></script>
}