@model LifeVenture.Web.ViewModels.Events.CreateEventViewModel

@{
    this.ViewData["Title"] = "Дейности";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
    var phoneCodes = this.Model.Phone.Codes.Select(x => new SelectListItem(x.Value, x.Key));
    var regions = this.Model.Regions.Select(x => new SelectListItem(x.Value, x.Key));
    var municipalities = this.Model.Municipalities.Select(x => new SelectListItem(x.Value, x.Key));
    var settlements = this.Model.Settlements.Select(x => new SelectListItem(x.Value, x.Key));
}

<head>
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/event.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datepicker.css" rel="stylesheet" asp-append-version="true" />
</head>


<div class="text-center form-container">
    <div>
        <h1>Нов евент</h1>
    </div>
    <form id="events-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label asp-for="CategoryId"></label>
                <select id="CategoryId" class="form-control" asp-items="categories"></select>
            </div>
            <div class="col">
                <label asp-for="IsUrgent"></label>
                <input id="IsUrgent" type="checkbox" class="form-control-file" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Title"></label>
                <input id="Title" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea id="Description" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-daterange">
                    <label asp-for="StartDate"></label>
                    <input id="start" name="StartDate" type="text" class="form-control" placeholder="Ден-Месец-Година" min="2024-01-01" max="2100-12-31">
                </div>
            </div>
            <div class="col">
                <div class="input-daterange form-group">
                    <label asp-for="EndDate"></label>
                    <input id="end" name="EndDate" type="text" class="form-control" placeholder="Ден-Месец-Година" min="2024-01-01" max="2100-12-31">
                </div>
            </div>
        </div>

        <div id="place-1">
            <div class="row">
                <div class="col">
                    <label>Област</label>
                    <select id="region-1" name="region-1" class="form-control" asp-items="regions"></select>
                </div>
                <div class="col">
                    <label>Община</label>
                    <select id="municipality-1" name="municipality-1" class="form-control" asp-items="municipalities" disabled></select>
                </div>
                <div class="col">
                    <label>Населено място</label>
                    <select id="settlements-1" name="settlements-1" class="form-control" asp-items="settlements" disabled></select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Бележка</label>
                    <textarea name="note-1" class="form-control" rows="4"></textarea>
                    <button id="location-btn-1">Добави локация</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Email"></label>
                <input id="Email" type="text" class="form-control" />
            </div>
            <div class="col">
                <label>Код на държава</label>
                <select id="Phone_CodeId" class="form-control" asp-items="phoneCodes"></select>
            </div>
            <div class="col">
                <label asp-for="Phone.Number"></label>
                <input id="Phone_Number" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="exampleInputFile">Снимка</label>
                <input asp-for="Image" class="form-control-file" id="exampleInputFile" />
            </div>

        </div>

        <div class="p-3 mb-4">
            <div class="text-center">
                <input type="submit" id="submit-btn" class="btn btn-primary" value="Създай евент" />
            </div>
        </div>
    </form>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <script src="~/js/create-event.js" asp-append-version="true"></script>
    <script src="~/js/load-new-event.js" asp-append-version="true"></script>
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function () {

            $j('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                disableTouchKeyboard: true
            });
        });
    </script>
}