@using LifeVenture.Web.ViewModels.Events;
@model EventViewModel

<div class="card event-card" style="width: 18rem;">
    <div class="card-title-top">Заглавие на евента</div>
    <img src="~/images/image2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title card-title-mid">Участници <span>3</span> от <span>10</span></h5>
        <div class="progress">
            <div id="card-progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0">30%</div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Остават <span>5</span> дни</li>
        <li class="list-group-item">Прегледана <span>235</span> пъти</li>
    </ul>
    <div id="card-author-link" class="card-body">
        <a href="#" class="card-link">Профил на автора</a>
    </div>
</div>
