
#home-carousel-container {
    width: 100%;
    height: calc(100vw / 3);
    position: relative;
    background-color: #EDF5E1;
}

#carousel {
    position: relative;
    top: 17%;
    transform: translateY(-50%);
}

    #carousel div {
        position: absolute;
        border: 1px solid none;
        border-radius: 30px;
        overflow: hidden;
        width: 35%;
        transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    }

        #carousel div img {
            width: 100%;
            transition: width 1s;        }

        #carousel div.hideLeft {
            left: 0%;
            opacity: 0;
            transform: translateY(0%) translateX(-50%) scale(0.5);
            opacity: 0;
            filter: grayscale(80%);
        }


        #carousel div.hideRight {
            left: 100%;
            opacity: 0;
            transform: translateY(0%) translateX(-50%) scale(0.5);
            opacity: 0;
            filter: grayscale(100%);
        }


        #carousel div.prev {
            z-index: 5;
            left: 32%;
            transform: translateY(0%) translateX(-50%) scale(0.85);
            opacity: 0.9;
            filter: grayscale(90%);
        }


        #carousel div.prevLeftSecond {
            z-index: 4;
            left: 18.5%;
            transform: translateY(0%) translateX(-50%) scale(0.7);
            opacity: 0.5;
            filter: grayscale(100%);
        }


        #carousel div.selected {
            z-index: 10;
            left: 50%;
            transform: translateY(0px) translateX(-50%);
            opacity: 1;
            filter: grayscale(0%);
        }

        #carousel div.selected.carusel-inner-header {
            opacity: 1;
        }

        #carousel div.next {
            z-index: 5;
            overflow: hidden;
            left: 70%;
            transform: translateY(0%) translateX(-55%) scale(0.85);
            opacity: 0.9;
            filter: grayscale(90%);
        }


        #carousel div.nextRightSecond {
            z-index: 4;
            left: 85%;
            transform: translateY(0%) translateX(-60%) scale(0.7);
            opacity: 0.5;
            filter: grayscale(100%);
        }

#prev, #next {
    width: 4vw;
    height: 4vw;
    background-color: #05386B;
    border: none;
    border-radius: 50%;
}

    #prev:hover, #next:hover {
        transform: scale(1.1);
    }

#prev {
    position: absolute;
    top: 45.5%;
    left: 4.2%;
    background-image: url("../images/icons/LeftArrow.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-position-x: 46%;
}

#next {
    position: absolute;
    top: 45.5%;
    left: 91.7%;
    background-image: url("../images/icons/RightArrow.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-position-x: 56%;
}

.carusel-inner-header {
    position: absolute;
    border: none !important;
    border-radius: unset !important;
    width: 100% !important;
    height: 7vw;
    background-color: #05386B;
    top: 50%;
    transform: translateY(-50%);
    color: #EDF5E1;
    opacity: 0.8;
}

.inner-header-text {
    position: absolute;
    width: 100% !important;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Comfortaa-Bold' !important;
    font-weight: 700;
    font-size: 1.5vw;
    color: #EDF5E1;
}