
#home-welcome-container {
    position: relative;
    width: 100%;
    height: auto;
}

#home-welcome-img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

#home-welcome {
    font-family: 'Comfortaa-Bold' !important;
    position: absolute;
    font-size: 5vw;
    color: #EDF5E1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-name {
    font-family: 'Comfortaa-Bold' !important;
    position: absolute;
    font-size: 5vw;
    color: #5CDB95;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-slogan {
    font-family: 'Comfortaa-Bold' !important;
    position: absolute;
    font-size: 1.5vw;
    color: #EDF5E1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#home-event-button {
    position: absolute;
    top: 80%;
    left: 40%;
    /*transform: translate(-50%, -50%);*/
    width: 20%;
    height: 10%;
    background-color: rgba(0,0,0,0);
    border: 3px solid #5CDB95;
    border-radius: 5vw;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
}

    #home-event-button:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px 17px rgba(0, 0, 0, 0.2);
    }

    #home-event-button span {
        position: absolute;
        font-family: 'Comfortaa-Bold' !important;
        color: #5CDB95;
        font-size: 1.5vw;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }


.home-info-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05386B;
}

#nums-container {
    display: grid;
    grid-template-areas:
        'first2 first3 first4 first5 first6';
    gap: 10px;
    padding: 10px;
    width: 90%;
    height: auto;
    margin: calc(100vw / 30);
    background-color: #05386B;
}

.item1 {
    grid-area: first2;
}

.item2 {
    grid-area: first3;
}

.item3 {
    grid-area: first4;
}

.item4 {
    grid-area: first5;
}

.item5 {
    grid-area: first6;
}

.home-number {
    font-family: 'Comfortaa-Bold' !important;
    font-weight: 700;
    font-size: 4.5vw;
    color: #5CDB95;
}

.home-label {
    font-family: 'Comfortaa-Bold' !important;
    font-weight: 700;
    font-size: 1.3vw;
    color: #EDF5E1;
}
