@{
    this.ViewData["Title"] = "Успешно създаване на събитие";
}

<head>
    <link href="~/css/success.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="text-center">
    <div class="success-container">
        <h1 class="h1-font" >
            Заявката Ви беше изпратена към администратор за одобрение!
        </h1>
        <h2 class="h2-font">
            <a href="#" class="success-anchor">Вашите заявки</a>
        </h2>
    </div>
</div>