.card {
    width: 21vw !important;
    height: auto;
    margin: 0 1vw 2vw 1vw;
    padding: 0;
    border: none;
}

.card-img-top {
    border-radius: 20px 20px 0 0;
}

.event-footer {
    border-radius: 0 0 20px 20px;
}

.progress {
    height: 1.1vw;
    font-size: 1vw;
}

.progress-bar {
    background-color: #A0A0A0;
    color: #1A1A1D;
}

.event-header {
    background-color: #4E4E50;
    color: #EDF5E1;
    text-align: center;
    font-family: 'Comfortaa-Bold' !important;
    font-size: 1.2vw;
    font-weight: 700;
}

.card-list-group {
    --bs-list-group-bg: #5CDB95;
    text-align: left;
    --bs-list-group-color: #1A1A1D;
    font-family: 'Comfortaa-Bold' !important;
    font-size: 1vw;
    font-weight: 700;
}

.event-footer, .card-link {
    background-color: #5CDB95;
    text-align: center;
    font-size: 1vw;
    --bs-list-group-color: #1A1A1D;
    color: #1A1A1D;
    font-family: 'Comfortaa-Bold' !important;
    text-decoration: none;
}

.card-title {
    margin: 0;
}
